<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>文化活动</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/group.css">
    <link href="../libs/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/detail.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>多彩自游</h1>
                    <h5 class="sub-title pull-right">文化多彩 生活更快乐</h5>
                </div>
                <div class="action">
                    <div class="link">
                        <a href="#">登录</a><span>/</span>
                        <a href="#">注册</a>
                    </div>
                    <input class="search" type="text" placeholder="目的地/酒店/游轮">
                    <input type="button" class="search-btn">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#">首页</a>
            </div>
            <div class="col">
                <a href="#">文化目的地</a>
            </div>
            <div class="col">
                <a href="#">文化行程</a>
            </div>
            <div class="col">
                <a href="#">多彩客栈</a>
            </div>
            <div class="col">
                <a href="#">达人旅记</a>
            </div>
            <div class="col">
                <a href="#">活动</a>
            </div>
        </div>
    </div>
</div>
<div class="header-title">
    <div class="container">
        <div class="row">
            <h3>多彩通道——节日看大戊梁中国的美丽传说</h3>
            <h5 class="sub-title">
                观花览景，泡汤赏味，于融融暖阳中领略明媚东瀛的春日之
            </h5>
            <div class="price">
                <span class="origin-price"><span>¥</span>14,900</span>
                <span class="current-price"><span>¥</span>13,500 <span class="small">/成人</span></span>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-img">-->
    <!--<img src="../image/banner3.jpg" alt="">-->
    <!--<div class="shadow">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<p>太阳多彩的美丽的贵州大鞥的哦鞥丁的星界等丁到底能发生多发点身份好久哦你多彩涡轴大鞥打发额奥地利人 </p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="main-content mt10   ">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img src="../image/activity.jpg" alt="">
                <p class="mt30">太阳多彩的美丽的贵州大鞥的哦鞥丁的星界等丁到底能发生多发点身份好</p>
                <div class="img-box">
                    <img src="../image/banner3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="../image/banner3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="../image/banner3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="../image/banner3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="../image/banner3.jpg" alt="">
                </div>
                <div class="pull-right action-box">
                    <img src="../image/pause.png" alt="">
                    <span class="ml20">7014</span>
                    <div class="up-img"></div>
                    <img src="../image/focus.png" alt="" class="ml20">
                    <img src="../image/out.png" alt="" class="ml50">
                    <span>540</span>
                </div>
            </div>
            <div class="col-md-3">
                <img src="../image/location.jpg" alt="">
                <div class="flight special">
                    <div class="flight-title"></div>
                    <span>套餐特色</span>
                    <div class="content">
                        <p>国际段往返经济舱机票(含税)</p>
                        <p>国际段往返经济舱机票(含税)</p>
                        <p>国际段往返经济舱机票(含税)</p>
                    </div>
                </div>
                <a href="#" class="click-book">
                    点击预订
                </a>
            </div>
        </div>
        <div class="row">
            <div class="head-nav">
                <a href="#">
                    <div class="select-box active">
                        <span class="logo"><img src="../image/text.png" alt=""></span>
                        <span>活动解读</span>
                    </div>
                </a>
                <a href="#">
                    <div class="select-box">
                        <span class="logo"><img src="../image/special.png" alt=""></span>
                        <span>活动亮点</span>
                    </div>
                </a>
                <a href="#">
                    <div class="select-box">
                        <span class="logo"><img src="../image/comment.png" alt=""></span>
                        <span>预定须知</span>
                    </div>
                </a>
                <a href="#">
                    <div class="select-box">
                        <span class="logo"><img src="../image/comment.png" alt="" class="v-hidden"></span>
                        <span>费用说明</span>
                    </div>
                </a>
                <!--<a href="#">-->
                    <!--<div class="select-box mt8">-->
                        <!--<span class="logo"><img src="../image/video.png" alt=""></span>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
            <div class="col-md-8">
                <p class="content">
                    我国是文化资源大国，丰富灿烂的中华文化拥有持久弥新的魅力，每年吸引着数以千万计的海外游客前来参观旅游。近年来，旅游业的发展使我国数以千计的古城、古镇、古村焕发新的生命力，使当地宝贵的文化遗产得到保留和传承，引起国内外游客高度关注。濒临消失的非物质文化遗产得到积极挖掘和展示，众多民间艺术、民间艺人进入旅游市场焕发了活力，如昆曲、苏州评弹、新疆维吾尔木卡姆艺术、安塞腰鼓、纳西古乐等已经成为一个地区的文化名片和旅游品牌。伴随我国经济的持续快速健康发展，我国居民生活水平日益提高，文化与旅游成为了人们生活中的必要组成部分，文化旅游消费需求不断释放。随着文化素养和知识水平的提高，人们越来越追求文化上的享受。近年来，历史遗迹、文艺汇演、民俗宗教、主题公园主题公园……各种新兴的文化旅游形态日渐崛起，文化和旅游呈现出多层面、多领域的相互融合态势。作为意识形态的文化，是一定社会的政治和经济的反映，又作用于一定社会的政治和经济。它具有满足需要、记录、认知、传播、教化、凝聚、调节、动力、创造和审美娱乐等功能和作用。根据世界旅游组织（WTO）1997年对旅游的定义是“人们离开平时的环境，为消闲、公务或其它目的到外地旅行或逗留连续时间在一年内的活动”，由此可见它具有鲜明的消费、休闲和社会等等功能和作用。由此可见，文化与旅游都是由经济基础决定的，都能满足人民群众日益增长的物质文化生活的需要，都能更好地促进人的全面发。
                </p>
                <img src="../image/content1.jpg" alt="">
                <img src="../image/content2.jpg" alt="">
                <div class="info-box">
                    <span class="logo"><img src="../image/special.png" alt=""></span>
                    <span>特色亮点</span>
                </div>
                <p class="content">
                    旅游在当代已经成为一个文化的概念或者说是文化的一个范畴，人们的旅游行为服从着文化的牵引或指导，在文化或精神的世界中追求着自己的梦想或渴求，甚至是灵魂的一次次体验或飞跃。文化部部长蔡武在2010博鳌国际旅游论坛上也曾表示：从某种意义上讲，旅游在很大程度上是一种文化活动，是一种文化消费，是一种文化鉴赏。尽管旅游形式多种多样，旅游内容丰富多彩，但主要体现为旅游者在旅游活动中品味文化内涵，感受文化魅力。有人将旅游比喻成“经济的文化产业”，手段是经济的，但内核是文化的。文化是旅游活动的主要内容，只有文化介入和沟通的旅游，才能摆脱单纯的旅行活动而成为真正意义上的旅游。旅游是现代人的文化消费活动，更确切地说是现代人寻找文化体验的活动。在这种活动中，旅游消费本质上是文化符号的消费，也就是法国学者鲍德里亚所说的，“财富和产品的生理功能和生理经济系统被符号社会学系统取代”。
                </p>
                <img src="../image/content3.jpg" alt="">
                <div class="info-box">
                    <span class="logo"><img src="../image/comment.png" alt=""></span>
                    <span>预定须知</span>
                    <!--<div class="color-block"></div>-->
                </div>
                <div class="content">
                    <p>1. 机票：沈阳直飞普吉往返含税机票（亚洲大西洋航空公司）。</p>
                    <p>2. 酒店：4晚所选酒店，含早餐。</p>
                    <p>3. 保险：保额30万旅游意外险。</p>
                    <p>4. 赠送：西蒙人妖秀门票。</p>
                    <p>5. 沈阳机场专人协助送机。</p>
                    <p>6. 当地机场至酒店往返接送。</p>
                </div>
                <div class="info-box">
                    <span class="logo"><img src="../image/toknow.png" alt=""></span>
                    <span>入住酒店介绍</span>
                </div>
                <!--<div class="content">-->
                    <!--<h5>-->
                        <!--<img src="../image/hotel-logo.png" alt="">-->
                        <!--Happy House Bungalows(快乐之家简易别墅)-->
                    <!--</h5>-->
                    <!--<div class="img-box">-->
                        <!--<img src="../image/hotel.png" alt="">-->
                        <!--<p>227 Moo B,Veng Tai, Mae Hong Song, 清迈,清迈府,58130,泰国清迈 <a href="#">地图/交通</a></p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-md-4">
                <div class="flight">
                    <div class="flight-title"></div>
                    <span>参考航班</span>
                    <div class="select-city">
                        <a href="#" class="box">
                            上海
                        </a>
                        <a href="#" class="box active">
                            北京
                        </a>
                        <a href="#" class="box">
                            其他城市
                        </a>
                    </div>
                    <div class="sanjiao"></div>
                    <div class="city-info">
                        <div class="flight-target">
                            <img src="" alt="">
                            <p>北京往返福冈</p>
                        </div>
                        <div class="flight-target">
                            <img src="" alt="">
                            <p>
                                <span>出发:北京首都国际机场</span><br/>
                                <span>到达:福冈机场</span><br/>
                                <span>起飞时间:08:20</span><br/>
                                <span>到达时间:18:50</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <h3>地图导航</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.3930416700573!2d116.32425521483039!3d39.99966737941573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0541fa61e3c8f%3A0xd95a50fee0e0e2c9!2z5riF5Y2O5aSn5a2m!5e0!3m2!1szh-CN!2sus!4v1462101589607" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <img src="../image/location.jpg" alt="">
                </div>
                <div class="tieshi">
                    <h3>自游小贴士</h3>
                    <p>简介 永定境内山峦起伏、雄奇峻秀，溪河穿山切岭，造就了众多的自然景观、人文景观和革命胜地。被誉为“世界上独一无二山村民居建筑”的永定客家土楼，因其奇特的建筑艺术和蕴藏的客家文化内涵而备受世人瞩目。山下层层叠叠的梯田与土楼完美勾勒出一道恬静的田园风光。不管是千姿百态的土楼形貌，还是秀美灵动的山乡神韵，都值得你扛起相机，一一追逐。</p>
                </div>
                <div class="maybe-like">
                    <h3>您可能喜欢的</h3>
                    <img src="../image/location.jpg" alt="">
                    <img src="../image/location.jpg" alt="">
                    <img src="../image/location.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-white pt30 mt40 mb140">
                <div class="col-md-5">
                    <img src="../image/foot-info.jpg" alt="" class="net-code">
                    <div class="contact">
                        <p>联系我们</p>
                        <p class="phone">400-6790-089</p>
                        <p class="mail">info@zanadu.cn</p>
                        <p class="other-link">
                            <img src="../image/weibo.jpg" alt="">
                            <img src="../image/youku.jpg" alt="">
                        </p>
                        <p class="regist">
                            欢迎来到赞那度,快来 <a>注册</a> 吧!
                        </p>
                        <p class="mobile">切换到手机版浏览</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="wechat col-md-4">
                        <h5>赞那度微信开通</h5>
                        <p class="wechat-serve">服务号 <img src="../image/wechat.png" alt=""></p>
                        <p class="sub-title">赞那度旅行顾问</p>
                        <p class="guwen sub-title">ZANNADoBOOKING</p>
                        <p class="wechat-serve">订阅号 <img src="../image/wechat.png" alt=""></p>
                        <p class="sub-title">赞那度旅行人生</p>
                        <p class="sub-title">ZANNADUCN</p>
                    </div>
                    <div class="about col-md-4">
                        <h5>关于赞那度</h5>
                        <p class="sub-title">关于我们</p>
                        <p class="sub-title">团队</p>
                        <p class="sub-title">媒体报道</p>
                        <p class="sub-title">工作机会</p>
                    </div>
                    <div class="about col-md-4">
                        <h5>技术支持</h5>
                        <p class="sub-title">隐私政策</p>
                        <p class="sub-title">服务条款</p>
                        <p class="sub-title">联系我们</p>
                        <p class="sub-title">合作伙伴</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../libs/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../libs/js/bootstrap.min.js"></script>
</body>
</html>