body {
  background: #f3f2de;
  text-align: center;
  margin: 0;
}
.header {
  text-align: center;
  margin-top: -8%;
}
.header img {
  width: 100%;
}
.width-fixed {
  width: 960px;
  margin: 0 auto;
}
.width-fixed img {
  width: 100%;
}
.one {
  margin-top: -480px;
}
.two {
  margin-top: -50px;
}
.three {
  margin-top: -50px;
}
.main-content {
  padding-bottom: 100px;
}
.info {
  width: 700px;
  margin: 0 auto;
}
.info img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  body {
    width: 1280px;
  }
}
